<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionStrLive" providerName="System.Data.SqlClient" connectionString="Server=zzz;Database=Quran;Trusted_Connection=True;" />
    <add name="ConnectionStr" providerName="System.Data.SqlClient" connectionString="Server=zzz;Database=Quran;Trusted_Connection=True;" />


    <add name="ConnStr_Support" connectionString="server=zzz;database=Support;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnStr_Support" connectionString="server=KNA1AND1;database=Support;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
