<div id="footer">
    <a href="/contact/ticket.aspx">contact us</a>&nbsp;&nbsp;| 
     <%  if (Session["UserID"] == null) { %>  
    <a href="/login.aspx">login</a>&nbsp;&nbsp;| 
     <%  } %>  
    <a href="/study.aspx">study</a>&nbsp;&nbsp;| 
    <a href="/myaccount.aspx">my account</a>&nbsp;&nbsp;|
    <a href="/about.aspx">about</a>&nbsp;&nbsp;|&nbsp;All thanks and praises are due to Allah, our Creator, Provider and Sustainer   
         <br />(An effort to spread the understanding of Allah's Words)
          
    </div>
 
 